/*=========MEDIA QUERIES -med. devices-tablets=========*/
@media screen and (max-width: 1024px)
    {
   
    }
    

    /*=========MEDIA QUERIES -small devices-phones=========*/
@media screen and (max-width: 600px)
{
    .container s__container{
        width:var(--container-width-sm);
    }
      
    .s__details > div h4{
        padding-left: 5rem;
         
    }
     .s__details-icon{
            max-width: fit-content;
           
     }   
}